<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="ServiceLayerServiceDefinition.WcfServiceDefinition">
                <endpoint address="" binding="basicHttpBinding" contract="ServiceLayerServiceDefinition.IWcfServiceDefinition" name="httpWcfService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
              <endpoint address="" binding="netTcpBinding" contract="ServiceLayerServiceDefinition.IWcfServiceDefinition" name="tcpWcfService">
                <identity>
                  <dns value="localhost" />
                </identity>
              </endpoint>
              <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
              <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/WcfServiceDefinition/" />
                        <add baseAddress="net.tcp://localhost:8734/WcfServiceDefinition/" />
                    </baseAddresses>
                </host>
              </service>
        </services>
    </system.serviceModel>
</configuration>
