<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="httpWcfService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="tcpWcfService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/WcfServiceDefinition/"
                binding="basicHttpBinding" bindingConfiguration="httpWcfService"
                contract="SR_ServiceLayer.IWcfServiceDefinition" name="httpWcfService" />
            <endpoint address="net.tcp://localhost:8734/WcfServiceDefinition/"
                binding="netTcpBinding" bindingConfiguration="tcpWcfService"
                contract="SR_ServiceLayer.IWcfServiceDefinition" name="tcpWcfService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>